// Add your custom CSS here.
.header, .top-bar__nav {
    background-color: #FFF19A;
    color: #012E61
}
.footer {
    color: #FFF19A;
    background-color: #012E61
}
.footer i {
    color: #FFF19A;
}